.card {
    height: 360px;
    flex: 0 0 360px;
    margin: 0 20px 0 20px;
    display: flex;
}

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.fab-button {
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

