<form action="">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Log in: </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Email">
              <mat-hint align="end">Hint</mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button type="button">Log in</button>
          </mat-card-content>
          <mat-card-actions class="text-right">
            <p>Need an account? <a href="">Sign Up Now!</a></p>
            <p>Forget password? <a href="">Get Help</a></p>
          </mat-card-actions>
      </mat-card>

      <mat-card>
          <mat-card-header>
            <mat-card-title> 
              Today's Gold Words
            </mat-card-title>
            <mat-card-subtitle>
              I don't get cute, I got drop dead GORGEUOUS
            </mat-card-subtitle>
          </mat-card-header>
          <img img mat-card-image src="/assets/alyssa.jpg" alt="">
          <mat-card-content>
              Don't get bitter, just get better
          </mat-card-content>
        </mat-card>
</form>
