@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$faci-light-primary: mat-palette($mat-indigo);
$faci-light-accent:  mat-palette($mat-pink, A200, A100, A400);
$faci-light-warn:    mat-palette($mat-red);  // The warn palette is optional (defaults to red). red for warning

// Create the theme object (a Sass map containing all of the palettes).
$faci-light-theme: mat-light-theme($faci-light-primary, $faci-light-accent, $faci-light-warn);

@include angular-material-theme($faci-light-theme);


$faci-dark-primary: mat-palette($mat-blue-grey);
$faci-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$faci-dark-warn:    mat-palette($mat-orange);  // The warn palette is optional (defaults to red). red for warning

// Create the theme object (a Sass map containing all of the palettes).
$faci-dark-theme: mat-dark-theme($faci-dark-primary, $faci-dark-accent, $faci-dark-warn);

.myapp-dark-theme{
    @include angular-material-theme($faci-dark-theme);
}