<mat-list-item class="container"
[ngClass]="{
  'priority-normal' : item.priority === 3,
  'priority-high' : item.priority === 2,
  'priority-emergency' : item.priority === 1
}"
(click)="onItemClick()"
>
  <mat-checkbox 
  class="completion-status"
  (click)="onCheckboxClick($event)"
  [checked]="item.completed">
  </mat-checkbox>
  <div mat-line class="content" [ngClass]="{'completed': item.completed}">
    <span [matTooltip]="item.desc"
    [matTooltipPosition]="'after'"
   >{{item.desc}}</span>
  </div>
  <div mat-line class="bottom-bar">
    <span class="due-date" *ngIf="item.dueDate"> 
      {{item.dueDate | date: "yy-mm-dd"}}
    </span>
    <mat-icon *ngIf="item.reminder" class="alarm">alarm</mat-icon>
  </div>
  <mat-icon class="avatar" matListAvatar [svgIcon]="avatar"></mat-icon>
</mat-list-item>